<html>

<head>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

</head>


<body>

  
    <div id="app">
    <input type="text" v-model="usuarioNovo.nome">
        <select v-model="usuarioNovo.perfil">
            <option disabled>Perfil</option>
            <option v-for="p in perfis" v-bind:value="p">
                {{ p.descricao }}
            </option>
        </select>
    <button type="button" v-on:click="salvar">Salvar</button>
     <button type="button" v-on:click="novo">Cancelar</button>

       <ul style="list-style-type: none" >
           <li  v-for="(u,index) in usuarios">{{u.id}} {{u.nome}}  {{u.perfil.descricao}}
                <button type="button" v-on:click="excluir(index)">Excluir</button>
             <button type="button" v-on:click="preparaAlterar(index)">Alterar</button>
           </li>
       </ul>

    </div>

</body>

<script>



var app = new Vue({
  el: '#app',
  data: {
    indiceAlterar:-1,
    usuarioNovo:{nome:"",perfil:""},
    usuarios: [],
      perfis: []
  },
    mounted:function(){

        this.buscarTodos();
        this.buscarTodosPerfis();
    },
    methods:{

        buscarTodosPerfis:function(){
            this.$http.get("http://localhost:8080/usuarios/perfil")
                    .then(function(res){
                        this.perfis = res.body;
                    }, function (res){
                        console.log(res);
                    });

        },
        buscarTodos:function(){
            this.$http.get("http://localhost:8080/usuarios/todos")
                    .then(function(res){
                        this.usuarios = res.body;
                    }, function (res){
                        console.log(res);
                    });

        },
        salvar:function(){


                if(this.usuarioNovo.id==""){
                    this.adicionar();
                }else {
                    this.alterar();

                }
                this.novo();


        },
         alterar:function (){
             this.$http.put("http://localhost:8080/usuarios",this.usuarioNovo)
                     .then(function(res) {
                            this.buscarTodos();

                     }, function (res){
                         window.alert(res.body.mensagem);
                     });

        },
        adicionar:function(){

            this.$http.post("http://localhost:8080/usuarios",this.usuarioNovo)
                    .then(function(res) {
                        this.buscarTodos();

                    }, function (res){
                      window.alert(res.mensagem);
                    });

           
        },
        excluir :function(i){

            usuarioDel = this.usuarios[i];
            this.$http.delete("http://localhost:8080/usuarios/"+usuarioDel.id)
                    .then(function(res) {
                        this.buscarTodos();
                        // this.usuarios.splice(this.indiceAlterar, 1, this.usuarioNovo);
                    }, function (res){
                        console.log(res);
                    });
           // window.alert(i);
            //this.usuarios.splice(i,1)
        },
         preparaAlterar :function(i){
           // window.alert(i);
            this.usuarioNovo=  Vue.util.extend({},this.usuarios[i]); 
            this.indiceAlterar=i;
        },
         novo :function(i){
           // window.alert(i);
             this.usuarioNovo={nome:""}
        }
  }
})

</script>


</html>